@namespace HTT.BlazorWasm.App.Components
@inherits HTTComponentBase

<div class="htt-tooltip-wrapper @Class" style="@Style" 
     @ref="_wrapperRef"
     @onmouseenter="Show" 
     @onmouseleave="Hide"
     @attributes="AdditionalAttributes">
    @Trigger

    @if (ChildContent != null || !string.IsNullOrEmpty(Text))
    {
        <div class="@ToolTipCssClass htt-tooltip-@GetPositionClass()" 
             @ref="_tooltipRef"
             @onmouseenter="Show"
             @onmouseleave="Hide">
            @if (ChildContent != null)
            {
                @ChildContent
            }
            else
            {
                @Text
            }
            <div class="htt-tooltip-arrow" @ref="_arrowRef"></div>
        </div>
    }
</div>
