@namespace HTT.BlazorWasm.App.Components
@inject IHTTToastService ToastService
@implements IDisposable

<div class="htt-toast-container-root">
    @foreach (var position in Enum.GetValues<CToastPosition>())
    {
        var toasts = ToastService.Toasts.Where(t => t.Position == position).ToList();
        if (toasts.Any())
        {
            <div @key="position" class="htt-toast-container htt-toast-@position.ToString().ToLower()">
                @foreach (var toast in toasts)
                {
                    <HTTToastItem @key="toast.Id" Toast="toast" />
                }
            </div>
        }
    }
</div>
